going to need to develop the schema for this app.
there are many different habits

1. Emotional 
a.)laughing
b.)crying
c.)joy
d.)anger

2. Physical
a.)exercise
b.)rest
c.)grooming/hygien
d.)talking

3. Financal
a.)daily/monthly/annual budget
b.)food
c.)clothing
d.)shelter
e.)recreation

4. Mental
a.)thoughts
b.)subconscious
c.)reflections
d.)conscious
e.)affirmations(positive and negative)

5. Spiritual
a.)religion
b.)activity
c.)prayer
d.)community

6. Social
a.)family
b.)friends
c.)work
d.)social media